body {
    background-color: #0d1117;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #3ddc84;
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
  }
  
  h2 {
    color: #2ecc71;
    font-size: 1.5em;
    margin-top: 30px;
  }
  
  p {
    color: #ccc;
    font-size: 1em;
    margin: 10px 0;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
  }
  
  button {
    background-color: #2ecc71;
    color: black;
    font-weight: bold;
    border: 3px solid #1f1f1f;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  button:hover {
    background-color: #27ae60;
  }
  
  #vozatexto {
    color: #ccc;
    margin-top: 20px;
  }
  